
.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ce3636;
}

.header-image {
  flex: 0 0 25%;
  max-width: 25%;
}

.header-image img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.header-title {
  flex: 0 0 60%;
  max-width: 60%;
  padding-left: 20px;
}

.header-title h1 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #333;
  margin: 0;
}

.header-creators {
  flex: 0 0 15%;
  max-width: 15%;
  padding-left: 20px;
}

.header-creators ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-creators li {
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  color: #333;
  margin: 0 0 5px 0;
}


#footer {
    height: 60px; 
    flex-shrink: 0; 
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    width: 100%;
}
#footer p{
    margin-left: auto;
    margin-right: 20px;
    color: #817f96;
    font-family: Montserrat;
}

#footer  a  img{
    width: 50px;
}

#footer a {
    margin: 0 20px 0 15px;
}